*.pyc
data/all-buses.json
data/london.json
data/london-text.json
schematic/data
bin/cache
/tfwm/data
/tfwm/bin/cache
/tfwm/bin/config.py

# New client/server apps
/backend/node_modules
/frontend/node_modules
/backend/.env
/frontend/.env
