PORT=4010
CORS_ORIGIN=http://localhost:5173
POLL_INTERVAL_MS=15000
EMIT_INTERVAL_MS=10000
BUS_CACHE_WINDOW_MS=10000
TRAIN_CACHE_WINDOW_MS=10000
RETRY_COUNT=3
RETRY_BASE_DELAY_MS=1000
TFL_API_BASE_URL=https://api.tfl.gov.uk
TFL_APP_ID=
TFL_APP_KEY=
TFL_BUS_LINES=11,12,24,29,38,55,73,390
TFL_TRAIN_LINES=bakerloo,central,circle,district,elizabeth,hammersmith-city,jubilee,metropolitan,northern,piccadilly,victoria,waterloo-city,london-overground,dlr,tram
